#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml

#Maven
target
release.properties
pom.xml.*

#Backup Files
*~

#Android
signing.gradle

#build folder
build
.gradle
gen-external-apklibs
libs/
out
.directory
*.apk
local.properties
