<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kopysoft.chronos"
          android:versionCode="33"
          android:versionName="1.4">
    <application android:icon="@drawable/icon"
                 android:label="Chronos"
                 android:allowBackup="true"
                 android:debuggable="false"
                 android:theme="@style/Theme.Sherlock">
        <activity android:name=".mainUI"
                  android:label="Chronos"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".activities.ClockActivity"
                  android:label="Clock" />

        <activity android:name=".activities.NoteActivity"
                  android:label="Notes" />

    </application>

    <uses-sdk android:minSdkVersion="4"
              android:targetSdkVersion="13" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <meta-data android:name="com.google.android.backup.api_key"
               android:value="AEdPqrEAAAAIoW9gpADZ52LDSV-5GNPwgUT7_ZSYG7SkkU4QSw"/>

</manifest> 